@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-3">
    <h1 class="display-4">Welcome to TodoList</h1>
    <hr/>
    <p class="text-dark font-weight-bolder mt-3">Todoist projects keep all your tasks organized so you can achieve your goals — large and small.</p>
    <p class="text-dark font-weight-bold mt-3">Whether you’re managing a project or planning an exercise routine, Todoist can help</p>
  
</div>
