@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="SendEmailTOretrive">
            <div asp-validation-summary="All"></div>
            <input asp-for="Email" placeholder="Enter Your Email">
            <span asp-validation-for="Email"></span>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
@section ValidationForRegister{
    <partial name="_ValidationScriptsPartial" />

}

